
<h1>Services</h1>
<h4>
  "Gurukul Developer.. not only were the deliverables completed on time,
  they were also done right the first time, with high quality."<br/><br/>

  "Gurukul Developer.. has been instrumental in delivering projects that will improve our revenue,
  our customer service and our cost management." <br/><br/>

   "Gurukul Developer.. enabled us to be faster and much more agile"
</h4>
  <%= image_tag("robotic.jpg",:width => 120,:height =>130, :title=> "Stock Photo - Robotic Arm Lifting Vial in Pharmaceutical Factory") %>

  <%= image_tag("postel.jpg",:width => 120,:height =>130,:title=>"Postal service letter reading/sorting machine") %>

  <%= image_tag("rollgear.jpg",:width => 120,:height =>130,:title=>"3d Roll gear small people - rolls gears" ) %>

  <%= image_tag("credit.jpg",:width => 120,:height =>130,:title =>"Stock Photograph - Credit card swipe machine superimposed on a green background") %>

  <%= image_tag("machine.jpg",:width => 120,:height =>130,:title =>"Stock Photograp" )%>