<!DOCTYPE html>
<html>
<head>
  <title> Gurukul Developer| <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
</head>
<body>
    <div class="container">
      <header>
        <nav class="round">
          <ul>
            <li><%= link_to "About", :controller => "projects", :action => "about" %></li>
            <li><%= link_to "services", :controller => "projects", :action => "services" %></li>
            <li><%= link_to "Careers", :controller => "projects", :action => "careers" %></li>
            <li><%= link_to "Contact", :controller => "projects", :action => "contact" %></li>
          </ul>
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
